body {
	background-color: #f6f6f6;
	text-align: center;
	color: white;
	margin: 0;
}
/* a,
a:hover {
	text-decoration: none;
	cursor: default;
} */
.carousel {
	max-width: 1002px;
	margin: auto;
}
.card-container {
	position: relative;
	display: inline-block;
	margin: 26px auto 0 auto;
	min-width: 230px;
	max-width: 308px;
	width: 100%;
	color: #000;
	font-size: 16px;
	text-align: left;
	box-shadow: 0px 1px 1px 0px #ccc;
	margin-top: 100px;
}
.card-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	color: #CD1479;
}
.card-container:before {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	content: "";
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.card-container a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.card {
	padding: 20px;
	box-shadow: 0px 1px 1px 0px #ccc;
	height: 220px !important;
	
}
.card-hero-img {
	width: 100%;
	height: 133px;
}
.card-heading-container {
	display: flex;
	margin-top: -60px;
}
.card-social-icon {
	padding: 0;
	border-radius: 50px;
	max-width: 65px;
}
.card-title-container {
	padding-left: 10px;
	text-align: left;
}
h3.card-title {
	font-size: 23px;
	color: #3a3a3a;
	font-family: arial;
	font-weight: bold;
	margin: 0;
}
.card-sub-title {
	font-size: 12px;
	color: #adadad;
	font-family: arial;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
.icon-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
}
.card-text-container {
	position: relative;
}
.card-text {
	font-size: 12px;
	line-height: 1.584;
	color: #3a3a3a;
	font-family: arial;
	margin: 0;
	text-align: left;
}
/* HEART ICON - NOT LIKED*/
.far.fa-heart,
.fas.fa-heart {
	padding: 0 0px 19px 19px;
	color: #2a8631;
	z-index: 9999999;
	display: flex;
}

.far.fa-heart,
.fas.fa-heart:hover {
	cursor: pointer;
}

.heart-liked-text {
	margin: 0;
	display: inline-block;
	padding-left: 10px;
	text-transform: uppercase;
	font-family: arial;
	font-weight: 700;
	font-size: 12px;
	margin-top: 1px;
	color: #f6f6f6;
	-webkit-transition: ease-in-out all 0.3s;
	transition: ease-in-out all 0.3s;
}

.btn{
  justify-content: center;
  display: flex !important;
  gap: 10px;
  border: none !important;
}

.card-img{
	display: flex;
    justify-content: center;
}

.quote{
	font-size: 32px;
}

@media (max-width: 800px) {
	h3.card-title {
		font-size: 18px;
	}
	.card-sub-title {
		font-size: 12px;
	}
	.card-text {
		font-size: 12px;
	}
}
/* -------------------------------------------------------------- */
/* SLICK REACT CAROUSEL */
/* -------------------------------------------------------------- */
/* .slick-next,
.slick-prev {
	top: 108.5%;
}
.slick-next {
	right: 0;
	text-align: left;
	width: 49.3%;
}
.slick-prev {
	left: 0;
	text-align: right;
	margin-right: 1.4%;
	width: 49.3%;
}
.slick-prev:before,
.slick-next:before {
	font-family: "Font Awesome\ 5 Free";
	font-size: 19px;
	color: #2a8631;
	line-height: 1;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 900;
}
.slick-prev:before {
	content: "\f053";
}
[dir="rtl"] .slick-prev:before {
	content: "\f054";
}
[dir="rtl"] .slick-next {
	left: -10px;
	top: 70px;
	right: auto;
}
.slick-next:before {
	content: "\f054";
}
[dir="rtl"] .slick-next:before {
	content: "\f053";
} */
